{% extends 'base.html' %}

{% block content %}
<header class="bg-light py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h3 class="display-4 fw-bolder">Your cart</h3>
            <p class="lead fw-normal text-black-50 mb-0">View products in your cart...</p>
        </div>
    </div>
</header>
<br>
{% if cart_products %}
{% for product in cart_products %}
<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Category: <span class="badge text-bg-secondary">{{ product.category }}</span></p>
          {% if product.is_on_sale%}
          <p class="card-text">Price: <strike>{{ product.price }}</strike> &nbsp; {{ product.sale_price }}</p>
          {% else %}
          <p class="card-text">Price: {{ product.price }}</p>
          {% endif %}
          <div class = "row justify-content">
            <div class = "col-md-2">Quantity</div>
              <div class = "col-md-2">
                <br>
                <select class="form-select" id = "quantity_cart">
            
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                  </select>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% else %}
There is nothing in your cart...
{% endif %}
<br><br><br><br><br><br><br><br><br>
{% endblock %}