{% extends 'base.html' %}

{% block content %}
<header class="bg-light py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">Name of the shop</h1>
            <p class="lead fw-normal text-dark-50 mb-0">Morbi enim nisi, congue et molestie vitae, sollicitudin vitae eros. Mauris maximus in ante a consequat. Aliquam porta malesuada dapibus. Pellentesque molestie elementum lobortis</p>
        </div>
    </div>
</header>
<br><br/>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ABOUT US
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </strong>
            <br><br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus eros in leo pellentesque, dignissim dapibus quam interdum. Donec non dictum velit, quis convallis ex. Donec suscipit orci in ex luctus, quis sagittis velit cursus. Sed et mauris convallis, mollis velit vitae, lobortis odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. In vel sem vel dolor aliquam malesuada. Vestibulum metus justo, suscipit eu convallis eu, ornare ac enim. Nunc ut arcu ante. Nam in diam lobortis ipsum dignissim pharetra. Etiam pretium vitae lacus non maximus. Phasellus in sollicitudin dui, vitae tempus neque. Aenean bibendum vitae justo eu lacinia. Sed consectetur, leo vitae tincidunt molestie, enim neque luctus eros, eu egestas lectus tortor eget ligula. Pellentesque ac dapibus velit.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          HISTORY
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>
            Donec ullamcorper aliquam elit, a sollicitudin nunc placerat a.
            </strong> 
            <br><br/>
            Donec ullamcorper aliquam elit, a sollicitudin nunc placerat a. Nulla facilisi. Integer malesuada, velit id vulputate cursus, ipsum lacus suscipit tortor, nec congue nunc nisi et urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas nec ligula metus. Cras id massa leo. Nunc ipsum nisi, bibendum et dapibus in, auctor in magna. Vivamus nisi odio, rutrum non facilisis quis, efficitur vitae ex. Duis lacinia, enim in feugiat cursus, justo urna auctor erat, vitae lacinia nulla neque et enim. Maecenas rutrum ut nisl sit amet blandit. Suspendisse vitae dictum dui. In eu quam elementum tellus sodales bibendum. Praesent eleifend turpis non pretium auctor. Fusce aliquam semper sem, at feugiat massa mollis et.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          CONTACT
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>
            In et libero vulputate, laoreet sapien a, cursus dui.
          </strong>
          <br><br/>
          Fusce tincidunt eget ante eu consequat. Donec nulla sapien, posuere quis maximus id, placerat ac felis. Vestibulum faucibus posuere auctor. Aliquam pellentesque ex mi, vitae vehicula magna efficitur vel. Vivamus non tempor mauris, eget convallis ante. Phasellus lacus urna, tempor ut arcu aliquam, lacinia dictum quam. Nunc maximus eu velit eu porttitor.
          Phasellus eu lacinia eros. Praesent felis purus, feugiat quis porttitor sed, volutpat nec purus. Aliquam lacinia risus at sapien pharetra, ac sollicitudin massa pulvinar. Integer et lobortis metus. Phasellus eget nulla dolor. Mauris vitae elit a nibh iaculis malesuada. Nulla quis tristique erat. Donec iaculis lectus et commodo commodo. Sed eu diam quis magna aliquam ornare. Sed vel porttitor nulla. Nam a augue enim.
        </div>
      </div>
    </div>
  </div>
  <br><br/>


{% endblock %}