<nav class="navbar navbar-expand-lg bg-success" data-bs-theme="light">
    <div class="container">
        <a class="navbar-brand" href="#!">MyStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About us</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'home' %}">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'book' %}">Books</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item ms-3">
                    <a class="nav-link" href="{% url 'logout_user' %}">Log out</a>
                </li>

              </ul>
            {% else %}

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item ms-3">
                    <a class="nav-link" href="{% url 'login_user' %}">Log in</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link" href="{% url 'register_user' %}">Sign up</a>
                </li>


              </ul>
            {% endif %}
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark"><i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id = "cart_quantity">0</span></a>

            </form>


        </div>
    </div>
</nav>